<%= form_for @story do |f| %>
  <div class='form-group'>
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <%= f.submit class: 'btn btn-success' %>
<% end %>

<%= link_to 'Back', stories_path %>
