<h1><%= @story.title %></h1>
<ul>
  <% @story.sentences.each do |sentence| %>
    <div class="col-md-12 story-sentence">
      <li>
        <%= fa_icon "#{sentence.image_content} 5x" %> <%= sentence.content %>
        <%= link_to 'Edit', edit_story_image_sentence_path(@story, @image, sentence) %>
        <%= link_to 'Delete', story_image_sentence_path(@story, @image, sentence), data: {confirm: "Are you sure?",
          method: 'delete'} %>
        </li>
    </div>

  <% end %>
</ul>
<%= link_to 'Add to Story', story_images_path(@story) %>


<div>
  <%= link_to 'Edit', edit_story_path(@story) %>
</div>
<div>
<%= link_to 'Delete', story_path(@story), data: {confirm: "Are you sure?",
                                                 method: 'delete'} %>
</div>
<div>
  <%= link_to 'Back', stories_path %>
</div>
